.catalog {
    padding: 20px; 
    background-color: #cfe8f7;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
}

.catalog__title {
    font-size: 1.8rem; 
    color: rgb(0, 80, 121);
}

.catalog__list {
    display: block; 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.catalog__item {
    background-color: white; 
    border: 1px solid #f48506; 
    border-radius: 8px; 
    padding: 15px;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
    margin-bottom: 20px; 
}

.catalog__item a{
    text-decoration: none;
}

.catalog__item:hover {
    transform: translateY(-5px); 
}

.catalog__subtittle {
    font-size: 1.2rem; 
    margin: 10px 0; 
    color: rgb(0, 80, 121)
}

.catalog__discription {
    margin: 5px 0;
    color: #fcc39a; 
}

.catalog__text {
    font-size: 1.2rem; 
    margin: 10px 0; 
    color: rgb(0, 80, 121)
}
