@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .courses__list {
        flex-wrap: wrap;
   }

   .menu__list {
    flex-wrap: wrap;
   }
   
}